.loginPageContainer {
	max-width: 1440px;
	height: 100vh;
	padding-right: 96px;
	padding-left: 96px;
	padding-top: 50px;
	margin: 0 auto;
}
.loginFormWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	padding-bottom: 10%;
}
