.loginPageContainer {
  max-width: 1440px;
  padding-right: 96px;
  padding-left: 96px;
  padding-top: 50px;
  margin: 0 auto;
}
.loginFormWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
