.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	padding: 12px 25px;
	border-style: none;
	border-radius: 25px;
	outline: none;
	color: var(--color--white-500);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	background-color: var(--color--orange-dark-500);

	&:hover {
		color: var(--color--white-500);
		background-color: var(--color--orange-dark-600);
	}
	&:active {
		color: var(--color--white-500);
		background-color: var(--color--orange-dark-700);
	}
}

.color {
	color: inherit;
}

.following {
	color: var(--color--brown-500);
	background-color: var(--color--orange-light-500);
}

.disabled {
	color: var(--color--brown-500);
	pointer-events: none;
	background-color: var(--color--white-700);
}
