.formContainer {
	position: relative;
	width: 448px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
	padding: 32px 24px;

	&::before {
		content: "";
		position: absolute;
		bottom: -50px;
		left: -69px;
		transform: translateX(-100%);
		width: 331px;
		height: 331px;
		background-image: url("../../../../assets/login-hand-purse.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	&::after {
		content: "";
		position: absolute;
		top: -50px;
		right: -69px;
		transform: translateX(100%);
		width: 331px;
		height: 331px;
		background-image: url("../../../../assets/login-hand-money.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.formTitle {
	color: #eb703c;
	padding-bottom: 24px;
}
.form {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;

	&::after {
		content: "";
		position: absolute;
		top: -50%;
		left: -25%;
		width: 612px;
		height: 703px;
		border-radius: 703px;
		background: linear-gradient(180deg, rgba(235, 112, 60, 0.2) 0%, rgba(255, 142, 43, 0.2) 45.14%);
		filter: blur(133.24339294433594px);
		z-index: -1;
	}
}
.label {
	display: block;
	color: var(--color--brown-500);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding-bottom: 7px;
}
.inputContainer {
	position: relative;
}
.input {
	width: 100%;
	color: var(--color--brown-500);
	background-color: var(--color--white-500);
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	border-radius: 10px;
	border: 0.8px solid var(--color--white-700);
	padding: 23px 25px;
	outline: none;
	transition: border-color ease 250ms;

	&[id="password"] {
		margin-bottom: 5px;
	}

	&::placeholder {
		color: var(--color--gray-600);
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
	}

	&:hover {
		transition: ease 250ms;
		border-color: var(--color--gray-400);
	}

	&:focus {
		transition: ease 250ms;
		border-color: var(--color--orange-dark-500);
		box-shadow: 0px 0px 8px 0px rgba(235, 112, 60, 0.5);
	}

	&.error:not(:focus) {
		border-color: var(--color--red-500);
	}
}
.errorText {
	color: var(--color--red-500);
	padding-top: 15px;
	padding-left: 24px;
}
.passwordWrap {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.forgotPassword {
	color: var(--color--orange-dark-500);
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}
.showPassword {
	position: absolute;
	top: 45%;
	right: 23px;
	background-color: transparent;
	border: none;
}
.submitButton {
	color: var(--color--white-400);
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;

	padding: 17px 0;
	border-radius: 10px;
	border: none;
	background: var(--color--orange-dark-500);
	outline: none;
}
.loginWith {
	text-align: center;
	padding-bottom: 16px;
}
.buttonsWrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 32px;
}
.loginWithButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 80px;
	border-radius: 10px;
	border: 1px solid var(--color--orange-dark-500);
}
.singUpWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.signUp {
	color: var(--color--brown-500);
}
.signUpLink {
	color: var(--color--orange-dark-500);
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}
