.learn {
	position: relative;

	&::after {
		position: absolute;
		top: 215.94px;
		left: 102px;
		width: 70px;
		height: 70px;
		content: "";

		background: #eb703c;
		filter: blur(75px);
		transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
	}
}

.learnContainer {
	display: flex;
	align-items: center;
	max-width: 561px;
	min-height: 365px;
	padding: 30px;

	.title {
		padding-bottom: 35px;
		color: #24150f;
		font-weight: 700;
		font-size: 27px;
		line-height: 33px;
	}

	.text {
		padding-bottom: 40px;
		color: #24150f;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
	}

	.link {
		color: #24150f;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		column-gap: 25px;
		align-items: center;
		.arrow {
			margin-left: 25px;
		}
	}

	.image {
		max-height: 280px;
	}
}
