:root {
  --font-size--h1: 40px;
  // --font-size--h1-mobile: 30px;
  --font-size--h2: 28px;
  // --font-size--h2-mobile: 24px;
  --font-size--h3: 24px;
  // --font-size--h3-mobile: 16px;
  --font-size--h4: 20px;
  // --font-size--h4-mobile: 18px;
  --font-size--h5: 18px;
  // --font-size--h5-mobile: 16px;
  --font-size--h6: 13px;
  // --font-size--h6-mobile: 11px;

  --font-size--p1: 22px;
  --font-size--p2: 20px;
  --font-size--p3: 16px;
  --font-size--p4: 14px;
  --font-size--p5: 12px;
  --font-size--p6: 11px;

  --font-size--button-big: 16px;
  --font-size--button-small: 13px;
  // --font-size--button-mobile: 16px;

  --font-size--various1: 10px;
  // --font-size--various1-mobile: 8px;
  --font-size--various2: 15px;
  // --font-size--footer-mobile: 13px;
}
